absl-py
accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
altair
annotated-types
anyio
asgiref
asttokens
astunparse
async-timeout
attrs
backcall
backports.tarfile
bcrypt
beautifulsoup4
blinker
block-stdout
bokeh
boto3
botocore
bottle
bottle-websocket
bs4
CacheControl
cachetools
casttube
catboost
certifi
cffi
chardet
charset-normalizer
click
colorama
comm
comtypes
contourpy
cryptography
csmlog
cycler
dataclasses-json
datasets
DateTime
debugpy
decorator
deepdiff
Deprecated
diffusers
dill
distlib
distro
dj-database-url
Django
dnspython
docker
ecapture
Eel
email_validator
emoji
entrypoints
enum34
evaluate
exceptiongroup
executing
faiss-cpu
Faker
fastapi
fastapi-cli
favicon
ffmpy
filelock
filetype
firebase-admin
firecrawl-py
Flask
Flask-Cors
flatbuffers
fonttools
frozenlist
fsspec
future
fuzzywuzzy
gast
geocoder
geographiclib
geopy
gevent
gevent-websocket
gitdb
GitPython
gmail-connector
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-cloud-core
google-cloud-dialogflow
google-cloud-firestore
google-cloud-storage
google-cloud-texttospeech
google-crc32c
google-generativeai
google-pasta
google-resumable-media
google-search-results
googleapis-common-protos
googlehomepush
gradio
gradio_client
graphviz
greenlet
groq
grpcio
grpcio-status
gspread
gTTS
gTTS-token
gunicorn
h11
h3
h5py
holidays
htbuilder
httpcore
httplib2
httptools
httpx
httpx-sse
hugchat
huggingface-hub
icalendar
idna
ifaddr
imageio-ffmpeg
importlib_metadata
inflect
ipykernel
ipython
itsdangerous
jaraco.classes
jaraco.context
jaraco.functools
jarvis-ironman
jedi
Jinja2
jiter
jlrpy
jmespath
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
keras
keyring
keyrings.alt
kiwisolver
langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-text-splitters
langgraph
langgraph-checkpoint
langgraph-sdk
langsmith
Levenshtein
libclang
lightgbm
linkedin-api
lxml
Markdown
markdown-it-py
markdownlit
MarkupSafe
marshmallow
matplotlib
matplotlib-inline
mdurl
ml-dtypes
more-itertools
MouseInfo
mpmath
msgpack
multidict
multiprocess
mypy-extensions
namex
narwhals
neo4j
nest-asyncio
networkx
newsapi-python
nltk
npm
numpy
oauthlib
ollama
openai
opencv-contrib-python
opencv-python
opt_einsum
optional-django
optree
ordered-set
orjson
outcome
packaging
paho-mqtt
pandas
paramiko
paramiko-expect
parso
pathlib
pdfminer.six
pdfplumber
pickleshare
pillow
platformdirs
playsound
plotly
prometheus_client
prompt_toolkit
propcache
proto-plus
protobuf
psutil
pure_eval
pvporcupine
py3-tts
pyarrow
pyasn1
pyasn1_modules
PyAudio
PyAutoGUI
pybrightness
PyChromecast
pycontrols
pycparser
pydantic
pydantic-settings
pydantic_core
pydeck
pydub
PyGetWindow
Pygments
pyhtcc
pyicloud
PyJWT
pymdown-extensions
PyMsgBox
PyMuPDF
PyNaCl
pynotification
pyotp
pyparsing
pypdf
PyPDF2
pypdfium2
pyperclip
pypiwin32
PyQt5
PyQt5-Qt5
PyQt5_sip
PyRect
pyrh
PyScreeze
PySocks
pytesseract
python-dateutil
